# Miscellaneous dirs & files
#-------------------
bak/

# Two-species case
#-------------------

# Directories
two-species/data/
two-species/logs/
two-species/models/
two-species/output/
two-species/plots/
two-species/raw_data/

two-species/2_train_and_test_models/.ipynb_checkpoints/
two-species/2_train_and_test_models/__pycache__/
two-species/2_train_and_test_models/custom_layers/

two-species/2_train_and_test_models/BM/__pycache__/
two-species/2_train_and_test_models/BM/test/
two-species/2_train_and_test_models/BM/train/

two-species/2_train_and_test_models/GRL/__pycache__/
two-species/2_train_and_test_models/GRL/test/
two-species/2_train_and_test_models/GRL/train/
two-species/2_train_and_test_models/GRL/tune/

two-species/2_train_and_test_models/MORALE/.ipynb_checkpoints/
two-species/2_train_and_test_models/MORALE/__pycache__/
two-species/2_train_and_test_models/MORALE/test/
two-species/2_train_and_test_models/MORALE/train/
two-species/2_train_and_test_models/MORALE/tune/

two-species/3_manuscript_figure_and_table_notebooks/Other/
two-species/3_manuscript_figure_and_table_notebooks/.ipynb_checkpoints/

# Files
two-species/kelly_paper_peaks.zip

two-species/2_train_and_test_models/BM/BM.ipynb

two-species/2_train_and_test_models/GRL/GRL.ipynb

two-species/2_train_and_test_models/MORALE/CORAL_tf_seq.ipynb
two-species/2_train_and_test_models/MORALE/CORAL_tf_toy.ipynb
two-species/2_train_and_test_models/MORALE/MORALE.ipynb

# Multi-species case
#-------------------

# Directories

multi-species/data/
multi-species/raw_data/
multi-species/logs/
multi-species/plots/
multi-species/chip_seq_data/
multi-species/model_out/
multi-species/models/

multi-species/3_train_and_test_models/__pycache__/
multi-species/3_train_and_test_models/BaselineAux/
multi-species/3_train_and_test_models/BMAux/
multi-species/3_train_and_test_models/MORALEAux/

multi-species/3_train_and_test_models/Baseline/.ipynb_checkpoints/
multi-species/3_train_and_test_models/Baseline/__pycache__/
multi-species/3_train_and_test_models/Baseline/test/
multi-species/3_train_and_test_models/Baseline/train/
multi-species/3_train_and_test_models/Baseline/wandb/

multi-species/3_train_and_test_models/BM/.ipynb_checkpoints/
multi-species/3_train_and_test_models/BM/__pycache__/
multi-species/3_train_and_test_models/BM/test/
multi-species/3_train_and_test_models/BM/train/

multi-species/3_train_and_test_models/GRL/

multi-species/3_train_and_test_models/MORALE/tune/
multi-species/3_train_and_test_models/MORALE/train/
multi-species/3_train_and_test_models/MORALE/test/

multi-species/3_train_and_test_models/MORALE/Evolution/per_species/tune/
multi-species/3_train_and_test_models/MORALE/Evolution/per_species/test/
multi-species/3_train_and_test_models/MORALE/Evolution/per_species/evo/

multi-species/3_train_and_test_models/MORALE/Evolution/group_species/tune/
multi-species/3_train_and_test_models/MORALE/Evolution/group_species/train/
multi-species/3_train_and_test_models/MORALE/Evolution/group_species/test/

multi-species/4_manuscript_figure_and_table_notebooks/Other/

# Files
multi-species/1_download_data_and_peak_call/*.err
multi-species/1_download_data_and_peak_call/*.out

multi-species/3_train_and_test_models/BM/BM.ipynb
multi-species/3_train_and_test_models/BM/lr_scheduler.py

multi-species/3_train_and_test_models/Baseline/Baseline.ipynb
multi-species/3_train_and_test_models/Baseline/config.yaml
multi-species/3_train_and_test_models/Baseline/create_yaml.py
multi-species/3_train_and_test_models/Baseline/lr_scheduler.py
multi-species/3_train_and_test_models/Baseline/wandb.py
multi-species/3_train_and_test_models/Baseline/wandb.sh
multi-species/3_train_and_test_models/Baseline/wandb_pipeline_example.ipynb

multi-species/3_train_and_test_models/MORALE/MORALE.ipynb
multi-species/3_train_and_test_models/MORALE/Evolution/per_species/EvolutionPS.ipynb
multi-species/3_train_and_test_models/MORALE/Evolution/group_species/EvolutionGS.ipynb